{% extends 'shop/basic.html' %}

{% block title%} About Us {% endblock %}
{% block body %}


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Lacritz!</h1>
            <p>Success of modern organization relies on data driven intelligence to understand customer needs and
                business opportunities.

                Lacritz AI is a global advanced analytics company offers strategy level support to accelerate business
                growth.

                At Lacritz AI, we develop business models powered with AI that empowers organizations to deal with
                complex problems quickly. this will further enhance strategic compliance with best in the industry.</p>
            <p><a class="btn btn-primary btn-lg" href="https://lacritz.com/about-lacritz/" role="button">Show more
                &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>PROJECTS</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or
                    web designs. ... “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.”</p>
                <p><a class="btn btn-secondary" href="https://lacritz.com/projects/" role="button">View details
                    &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>SERVICES</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or
                    web designs. ... “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.”</p>
                <p><a class="btn btn-secondary" href="https://lacritz.com/our-services/" role="button">View details
                    &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>CONTACT</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or
                    web designs. ... “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.”</p>
                <p><a class="btn btn-secondary" href="https://lacritz.com/contact-3/" role="button">View details
                    &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>


{% endblock %}
